
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script> -->
<style>
    table, th, td {
  border:1px solid #d1d1d1;
  text-align: center;
  font-size: 11px;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  font-size: 11px;
}
.sb-checkbox__label--red{
  accent-color: red;
}

</style>

<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong>Logs</strong></h1>

    <div class="row" >
        <div class="col-12 col-md-12 col-xxl-12 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100">
                <!-- <div class="card-header" style="border-bottom: 3px solid #e3beff;">
                    <button class="btn btn-primary float-end" onclick="bulkuploadcallcycle();" id="bulkupbtn" name="bulkupbtn">Bulk Upload Call Cycle</button>
                    <button class="btn btn-primary float-end" onclick="addcallcycle();" style="margin-right: 5px;">Add Call Cycle</button>
                </div> -->
                <div class="card-body px-4">
                    <table id="makerTable12" class="table table-responsive" cellspacing="0" width="100%" style="table-layout: fixed; width: 100%">
                        <thead style="font-size: 11px;">
                            <tr style="background: #e3beff;color: #6200af;">
                                <th>Callcycle ID</th>
                                <th>Callcycle Created By</th>
                                <th>Callcycle Updated By </th>
                                <th>Callcycle Created Date</th>
                                <th>Callcycle Updated Date</th>
                                <th>Callcycle Remark</th>
                                <th>Callcycle Status</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->


<script src="../static/js/admin_logs.js"></script>




