
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script> -->
<style>
    table, th, td {
  border:1px solid #d1d1d1;
  text-align: center;
  font-size: 11px;
}
table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  font-size: 11px;
}
.sb-checkbox__label--red{
  accent-color: red;
}

</style>

<div class="container-fluid p-0">

    <h1 class="h3 mb-3"><strong>Call Cycle</strong></h1>
    <h1 class="h3 mb-3"><strong>Total : <span id="total_so_sr"></span> | SO : <span id="n_so"></span> | SR : <span id="n_sr"></span></strong></h1> 

    <div class="row" id="callcycle_list">

        <div class="col-12 col-md-12 col-xxl-12 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100">
                <div class="card-header" style="border-bottom: 3px solid #e3beff;">
                    <button class="btn btn-primary float-end" onclick="bulkuploadcallcycle();" id="bulkupbtn" name="bulkupbtn">Bulk Upload Call Cycle</button>
                    <button class="btn btn-primary float-end" onclick="addcallcycle();" style="margin-right: 5px;">Add Call Cycle</button>
                </div>
                <div class="card-body px-4">
                    <table id="makerTable12" class="table table-responsive" cellspacing="0" width="100%" style="table-layout: fixed; width: 100%">
                        <thead style="font-size: 11px;">
                            <tr style="background: #e3beff;color: #6200af;">
                                <th>Region</th>
                                <th>State</th>
                                <th>City</th>
                                <th>ASM</th>
                                <th>SO</th>
                                <th>SR</th>
                                <th>Month</th>
                                <th>Year</th>
                                <th>Status</th>
                                <th>Remark</th>
                                <th>View</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="callcycle_form">
        <div class="col-12 col-md-12 col-xxl-12 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100">
                <div class="card-body px-4 col-xl-12 col-12">
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col">
                            <label class="form-label"><b>Callcycle Date</b></label>
                            <input type="month" class="form-control" id="s_year_month" name="s_year_month" disabled>
                        </div>
                        <div class="col">
                        </div>
                        <div class="col">
                        </div>
                      </div>
                      <div class="row">
                        <div class="row mb-3">
                          <div class="col">
                            <b>Region :</b> <span id="asm_region_s"></span>
                          </div>
                          <div class="col">
                            <b>State :</b> <span id="asm_state_s"></span>
                          </div>
                          <div class="col">
                            <b>City :</b> <span id="asm_city_s"></span>
                          </div>
                        </div>
                      </div>
                    <div class="row">
                        <div class="col" id="s_region_hide">
                            <label class="form-label">Region</label>
                            <select class="form-control" name="s_region" id="s_region" onchange="getstate(this.value)" disabled>
                            </select>
                        </div>
                        <!-- <div class="col" id="s_state_hide">
                            <label class="form-label">State</label>
                            <select class="form-control" name="s_state" id="s_state" onchange="getasm(this.value)">
                            </select>
                        </div> -->
                        <div class="col" id="s_asm_hide">
                            <label class="form-label">ASM</label>
                            <select class="form-control" name="s_asm" id="s_asm" onchange="getso(this.value)">
                            </select>
                        </div>
                      </div>
                      <div class="row">
                        <!-- <div class="col" id="s_city_hide">
                            <label class="form-label">City</label>
                            <select class="form-control" name="s_city" id="s_city" onchange="getso(this.value)">
                            </select>
                        </div> -->
                        <div class="col">
                            <label class="form-label">SO</label>
                                <select class="form-control" name="s_so" id="s_so" onchange="getsr(this.value)">
                                </select>
                          </div>
                          <div class="col">
                            <label class="form-label">SR</label>
                            <select class="form-control" name="s_sr" id="s_sr" onchange="clearsr();">
                            </select>
                            <input type="hidden" id="n_callcycle_id" name="n_callcycle_id" />
                          </div>
                      </div>
                      <div class="row">
                        <div class="col">
                            <div class="col" style="text-align: start;position: relative;top: 26px;">
                                <button type="button" class="btn active btn-primary" id="getbeat" onclick="getbeat()">Get Callcycle</button>
                                <button type="button" class="btn active btn-danger" id="back" onclick="back()">Back</button>
                              </div>
                        </div>
                      </div>
                      <div class="row mb-3" style="margin-top: 2rem;">
                        <div class="col" style="text-align: center;" >
                          <b style="font-size: 15px;color: red;">Select Week off and Holidays before starting to prepare call Cycle</b>
                          
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                          <div id="opencallcycle">
                            <label class="form-check">
                              <input class="form-check-input" type="checkbox" id="opencc" onclick="checkallcheckbox()">
                              <span class="form-check-label">
                                Click Here For An Open Call Cycle
                              </span>
                            </label>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div id="closecallcycle" style="float: right;">
                            <label class="form-check">
                              <input class="form-check-input" type="checkbox" id="closecc" onclick="uncheckallcheckboxes()">
                              <span class="form-check-label">
                                Click Here to Uncheck All Checkboxes
                              </span>
                            </label>
                          </div>
                        </div>
                      </div>
            
                      <!-- <div id="opencallcycle">
                        <label class="form-check">
                          <input class="form-check-input" type="checkbox" id="opencc" onclick="checkallcheckbox()">
                        <span class="form-check-label">
                          Click Here For An Open Call Cycle
                        </span>
                        </label>
                      </div> -->
                          <div class="row mb-3" style="margin-top: 1rem;">
                            <div class="col" >
                            <table style="width:100%;overflow-x:auto;" id="callcycle_table">
                              </table>
                              </div>
                          </div>
                          <div class="row mb-3" style="margin-top: 1rem;">
                            <div class="col" style="text-align: center;" >
                              <b style="font-size: 15px;color: red;">Everyday Call cycle should be marked if there is a Week off or Holiday selected</b>
    
                              </div>
                          </div>
                          <div class="row">
							<div class="col-md-6 col-sm-6 ">
								<button type="button" class="btn active btn-primary btn-sm" id="savebtn" onclick="savecallcycle()">Submit</button>
                <button type="button" class="btn active btn-primary btn-sm" id="updatebtn" onclick="updatecallcycle()">Update & Submit</button>
								<button type="button" class="btn active btn-warning btn-sm" id="resetbtn" onclick="refreshbeat()" >Reset</button>
								<button type="button" id="backbtn" class="btn active btn-danger btn-sm"
									onclick="back()">Back</button>

							</div>
						</div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="row" id="callcycle_bulk">
        <div class="col-12 col-md-12 col-xxl-12 d-flex order-3 order-xxl-2">
            <div class="card flex-fill w-100">
              <div class="card-header" style="border-bottom: 3px solid #e3beff;">
                <div class="col-xl-12" style="margin-top: 20px;">
                  <div class="row mb-3">
                    <div class="col">
                      <b>Region :</b> <span id="asm_region"></span>
                    </div>
                    <div class="col">
                      <b>State :</b> <span id="asm_state"></span>
                    </div>
                    <div class="col">
                      <b>City :</b> <span id="asm_city"></span>
                    </div>
                    <div class="col">
                      <b>Callcycle Date :</b><input type="month" class="form-control" id="s_year_month_bulk" name="s_year_month_bulk" disabled>
                    </div>
                  </div>
                </div>
            </div>
                <div class="card-body px-4 col-xl-12 col-12">
                    <div class="card-body px-4">
                      <!-- <div class="col-xl-12" style="margin-top: 20px;">
                        <div class="row mb-3">
                          <div class="col">
                            <b>Note </b>: <p style="color: red;">Please download Excel format and fill data in it.</p>
                          </div>
                          <div class="col">
                            Put 1 : Day Beat Lock. <br>
                            Put 0 : Day Beat No Lock. <br>
                            Put All 0 : Open Call Cycle. <br>
                          </div>
                        </div>
                      </div> -->
                      <div class="col-xl-12" >
                        <button type="submit" class="btn btn-primary" id="load_excel" onclick="loadoutletdatabyasm()">Load Data</button>
                        <button type="submit" class="btn btn-success" id="save_data" disabled onclick="savebulk();">Save Data</button>
                        <button type="submit" class="btn btn-danger" onclick="back()">Back</button>
                        <button type="submit" class="btn btn-warning" onclick="cleardata()">Clear</button>
                    </div>
                    <div class="col-xl-12" style="margin-top: 20px;">
                      <div class="row mb-3" style="margin-top: 2rem;">
                        <div class="col" style="text-align: center;" >
                          <b style="font-size: 15px;color: red;">Select Week off and Holidays before starting to prepare call Cycle</b>
                          
                          </div>
                      </div>
                      <div class="row mb-3">
                        <table id="bulkdata"></table>
                        </div>
                        <div class="row mb-3" style="margin-top: 1rem;">
                          <div class="col" style="text-align: center;" >
                            <b style="font-size: 15px;color: red;">Everyday Call cycle should be marked if there is a Week off or Holiday selected</b>
  
                            </div>
                        </div>
                        </div>
                      <!-- <div class="col-xl-12" style="margin-top: 20px;">
                        <div class="row mb-3">
                          <table id="bulkdata"></table>
                          <div class="col">
                            <input class="form-control" type="file" id="input" accept=".xls,.xlsx"  >
                          </div>
                          <div class="col">
                            <label class="form-label">Callcycle</label>
                            <a href="../callcycle/CALLCYCLE_SAMPLE.xlsx">Download Sample File</a>
                          </div>
                        </div>
                      </div> -->

                    </div>
                    <div style="overflow-x:auto;">
                        <table id="excel_data"></table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

    <div class="modal fade" id="swap_outlet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Transfer Outlet</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body px-4 col-xl-12 col-12">
                    <form>
                        <div class="row mb-3">
                          <div class="col">
                            <label class="form-label">From Date</label>
                            <input type="date" class="form-control" id="d_from_date" name="d_from_date" disabled>
                          </div>
                        </div>
                        <div class="row mb-3">
                        <div class="col">
                          <label class="form-label">Beat In</label>
                          <span id="beatname" style="font-size: 15px;font-weight: bolder;font-style: italic;color: #6200AF;"></span>
                        </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <label class="form-label">Transfer To Beat</label>
                            <select class="form-control" name="swap_beat" id="swap_beat">
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <div class="col">
                            <label class="form-label">Transfer Reason</label>
                            <textarea class="form-control" name="swap_reason" id="swap_reason"></textarea>
                          </div>
                        </div>
                        <input type="hidden" id="n_outlet_id" name="n_outlet_id" />
                      </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="transferoutlet();">Submit</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="delete_outlet" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Inactive Outlet</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body px-4 col-xl-12 col-12">
                  <form>
                    <div class="row mb-3">
                      <div class="col">
                        <label class="form-label">Date</label>
                        <input type="date" class="form-control" id="d_from_date_in" name="d_from_date_in" disabled>
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col">
                        <label class="form-label">Beat In</label>
                        <span id="beatnamein" style="font-size: 15px;font-weight: bolder;font-style: italic;color: #6200AF;"></span>
                      </div>
                      </div>
                    <div class="row mb-3">
                      <div class="col">
                        <label class="form-label">Inactive Reason</label>
                        <textarea class="form-control" name="inactive_reason" id="inactive_reason"></textarea>
                      </div>
                    </div>
                  </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="inactiveoutlet();">Submit</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>

      
      <div class="modal fade" id="viewcallcycledata" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">CallCycle</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body px-4 col-xl-12 col-12">
                  <form>
                    <form>
                      <div class="row mb-3">
                        <table id="view_callcycle"></table>
                      </div>
                    </form>
                  </form>
                </div>
            </div>
            <div class="modal-footer">
              <div id="view_callcyclebtn"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="updatestatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">CallCycle Status</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="card-body px-4 col-xl-12 col-12">
                  <form>
                    <form>
                      <div class="row mb-3">
                        <div class="col">
                        <select class="form-control" name="n_status" id="n_status" onchange="getstsval(this.value);">
                          <option >------ Select Status------</option>
                          <option value="1">Approved</option>
                          <option value="2">Rejected</option>
                        </select>
                        <input type="hidden" id="n_callcycle_id" name="n_callcycle_id"/>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <textarea class="form-control" name="sts_reason" id="sts_reason" placeholder="Enter Reason"></textarea>
                        </div>
                      </div>

                    </form>
                  </form>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" id="approved" onclick="ccapprove();">Approve</button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="reject"  onclick="ccreject();">Reject</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- Modal -->

<script>
      $('#reject').hide();
      $('#opencallcycle').hide();
      $('#approved').hide();
    $('#callcycle_list').show();
    $('#callcycle_form').hide();
    $('#callcycle_bulk').hide();


</script>

<script src="../static/js/callcycle.js"></script>




