<head>
  <!-- <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
Include jQuery Validation Plugin -->
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/jquery.validate.min.js"></script>
  <!-- Optional: Include additional rules/messages for validation -->
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/additional-methods.min.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<style>
  label.error {
      color: red;
      font-style: italic;
  }
</style>
<style>
  table,
  th,
  td {
    border: 1px solid #d1d1d1;
    text-align: center;
  }

  table tr {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
  }

  .row.mb-3 {
    display: flex;
    align-items: flex-start;
    gap: 20px;
  }

  .col {
    flex-grow: 1;
  }

  .selected-value {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }

  .value-column {
    flex-grow: 1;
  }

  .remove-column {
    width: 30px;
    text-align: center;
  }

  .remove-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #d9534f;
    /* Red color for the remove button */
  }
</style>

<div class="container-fluid p-0">

  <h1 class="h3 mb-3"><strong>User</strong>Master</h1>

  <div class="row" id="user_list">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
      <div class="card flex-fill w-100">
        <div class="card-header" style="border-bottom: 3px solid #e3beff;">
          <button class="btn btn-primary float-end" onclick="adduser();">Add User</button>
          <!-- <button class="btn btn-primary float-end" onclick="addbulkuser();" style="margin-right: 5px;">Add Bulk
            User</button> -->
        </div>
        <div class="card-body px-4">
          <table id="makerTable12" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
              <tr style="background: #e3beff;color: #6200af;">
                <th>Ticket ID</th>
                    <th>Title</th>
                    <th>Severity</th>
                    <th>Category</th>
                    <th>Assign To</th>
                    <th>Status</th> 
                    <th>Opening Date</th>
                    <th>Last Updated</th>

              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row" id="user_form">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
      <div class="card flex-fill w-100">
          <div class="card-header">
            <h3><b style="color: #6200af;">Please Enter User Details !</b></h3>
          </div>
      <div class="card-body px-4 col-xl-12 col-12">
        <div id="act_frm">
          <div class="row mb-3">
              <div class="col">
                <label class="form-label">Client</label>
                <select class="form-select mb-3" placeholder="Select Client" name="s_client" id="s_client"
                  onchange="getPositions();get_username()" required>
                  <option selected="">Select Client</option>
                </select>
              </div>
              <div class="col">
                <label class="form-label">Employee Code</label>
                <input type="text" class="form-control" placeholder="Enter Employee Code" name="s_emp_code"
                  id="s_emp_code" autocomplete="off" required>
              </div>  
          </div>

          <div class="row mb-3">
              <div class="col">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter Username" name="s_username" id="s_username" disabled required>
              </div>
              <div class="col">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" name="s_pass" id="s_pass" required>
              </div>
            </div>

          <div class="row mb-3">
              <div class="col">
                <label class="form-label">Full Name</label>
                <input type="text" class="form-control" placeholder="Enter Full Name" name="s_name" id="s_name" autocomplete="off" required>
              </div>
              <div class="col">
                <label class="form-label">Position Name</label>
                <select class="form-select mb-3" name="s_position" id="s_position" required>
                  <option value="">Select Position</option>
                </select>
              </div>
            
            </div>

          <div class="row mb-3">
              <div class="col">
                <label class="form-label">Position Type</label>
                <select class="form-select mb-3" id="s_position_type" name="s_position_type" required>
                  <option selected="">Select Position Type</option>
                  <option value="">Regular</option>
                </select>
              </div>
              <div class="col">
                <label class="form-label">Position Code</label>
                <input type="text" class="form-control" placeholder="Enter Position Code" name="s_position_code"
                  id="s_position_code" disabled required>
              </div>
            </div>

          <div class="row mb-3">
              <div class="col">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" placeholder="Enter email" name="s_email" id="s_email" required>
              </div>
              <div class="col">
                <label class="form-label">Contact Number</label>
                <input type="number" class="form-control" placeholder="Enter Contact Number" name="n_contact_no"
                  id="n_contact_no" required>
              </div> 
            </div>  

            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Region</label>
                <select class="form-select mb-3" placeholder="select Region" name="s_region" id="s_region"
                  onchange="getuserState(this.value);" required>
                  <option value="">Select Region</option>
                </select>
              </div>
            
              <div class="col">
                <label class="form-label">State</label>
                <select class="form-select mb-3" placeholder="Enter State" name="s_state" id="s_state"  onchange="getuserCity();" required>
                  <option selected="">Select State</option>
                </select>
              </div>
            </div>

          <div class="row mb-3">
              <div class="col">
                <label class="form-label">City</label>
                <select class="form-select mb-3" placeholder="Select City" name="s_city" id="s_city" required>
                  <option selected="">Select City</option>
                </select>
              </div>

              <div class="col">
                <label class="form-label">Address</label>
                <textarea class="form-control" name="s_address" id="s_address" placeholder="Enter Address"  required></textarea>
              </div>
            </div>

            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Date Of Joining</label>
                <input type="date" class="form-control" name="d_doj" id="d_doj" required>
              </div>
              <div class="col">
                <label class="form-label">Payroll</label>
                <input type="text" class="form-control" placeholder="Enter Payroll" name="s_payroll" id="s_payroll" required>
              </div>
             
            </div>

          <!-- <div class="row mb-3">
              <div class="col">
                <label class="form-label">Process</label>
                <select class="form-select mb-3" name="s_process" id="s_process" required>
                  <option selected="">Select Process Status</option>
                  <option value="0">Yes</option>
                  <option value="1">No</option>
                </select>
              </div>
              <div class="col">
                <label class="form-label">Validated</label>
                <select class="form-select mb-3" name="s_validate" id="s_validate" required>
                  <option selected="">Select Validate Status</option>
                  <option value="1">Yes</option>
                  <option value="0">No</option>
                </select>
              </div>
            </div> -->

            <div class="row mb-3">
              <div class="col">
                <label class="form-label">Channel</label>
                <select class="form-select mb-3" name="s_channel" id="s_channel" required>
                  <option selected="">Select Channel</option>
                  <option>GT</option>
                  <option>MT</option>
                </select>
              </div>
              <div class="col">
                <label class="form-label">Brand</label>
                <input type="text" class="form-control" placeholder="Enter Brand" name="s_brand" id="s_brand">
              </div>

              <!-- <div class="col">
                <label class="form-label">Remark</label>
                <textarea class="form-control" name="s_remark" id="s_remark" placeholder="Enter Remark" required></textarea>
              </div> -->
            </div>

          <div class="row mb-3"> 
              <div class="col">
                <label class="form-label">Status</label>
                <select class="form-select mb-3" name="s_status" id="s_status">
                  <option selected="">Select Status</option>
                  <option value="0">Active</option>
                  <option value="1">In-Active</option>
                </select>
              </div>

            </div>

          <div class="row mb-3"> 
              <div class="col">

              </div>
              <div class="col">
                <button  class="btn btn-primary" onclick="levels();" id="saveandprocess">Save & Proceed</button>
                <button class="btn btn-danger" onclick="back_to_form()" id="back1">Back</button>
              </div>
              <div class="col">
                <!-- check_validate(); -->
              </div>
            </div>
       
          </div> 

        <div id="lev_els">
            <div class="row"
              style="text-align: center; font-size: 15px;font-weight: bolder;background: #6200AF;color: white;margin-top: 35px;">
              <label>Levels</label>
            </div>
            <div class="row mb-3">
              <div class="col" id="level2">
                <label class="form-label">Level 2</label>
                <select class="form-select mb-3" name="s_lvl2" id="s_lvl2" onchange="getlevel3()">
                  <option value="">Select Level 2</option>
                </select>
              </div>
              <div class="col" id="level3">
                <label class="form-label">Level 3</label>
                <select class="form-select mb-3" name="s_lvl3" id="s_lvl3" onchange="getlevel4()">
                  <option value="">Select Level 3</option>
                </select>
              </div>
              <div class="col" id="level4">
                <label class="form-label">Level 4</label>
                <select class="form-select mb-3" name="s_lvl4" id="s_lvl4" onchange="getlevel5()">
                  <option value="">Select Level 4</option>
                </select>
              </div>
              <div class="col" id="level5">
                <label class="form-label">Level 5</label>
                <select class="form-select mb-3" name="s_lvl5" id="s_lvl5" onchange="getlevel6()">
                  <option value="">Select Level 5</option>
                </select>
              </div>
              <div class="col" id="level6">
                <label class="form-label">Level 6</label>
                <select class="form-select mb-3" name="s_lvl6" id="s_lvl6" onload="">
                  <option value="">Select Level 6</option>
                </select>
              </div>
              
            </div>
            <div class="row mb-3">
              <div class="col">

              </div>
              <div class="col">
                <button class="btn btn-primary" onclick="proceed();addnewusers();">Save User</button>
                <button class="btn btn-danger" onclick="back_to_levels()">Back</button>
              </div>
              <div class="col">
                
              </div>
            </div>
        </div>
          
        <div id="beats_div">
            <div class="row"
              style="text-align: center; font-size: 15px;font-weight: bolder;background: #6200AF;color: white;margin-top: 35px;">
              <label>Beats</label>
            </div>

            <div class="row">
              <div class="col" style="margin-top: 10px;width: 100%;">
                <label class="form-label">Select Multiple Beats</label>
                <select class="form-select mb-3" name="multiSelect" id="multiSelect" multiple>
                  <option value="">Select Beats</option>
                </select>
              </div>

              <div class="col" style="margin-top: 10px;width: 100%;">
                <label class="form-label"><strong>These Are Your Selected Beats</strong></label>
                <div id="selectedValues"></div>
              </div>
            </div>
       
          
           <div class="card-footer" id="ftter">
            <button class="btn btn-primary" id="addnewuser" >Submit</button>
            <button class="btn btn-danger" onclick="back();">Back</button>
            <button class="btn btn-warning" onclick="cleardata();">Clear</button>
            </div>

      </div>

     
     </div>
 
      </div>
    </div>

  </div>

  <div class="row" id="edit_form">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
      <div class="card flex-fill w-100">
          <div class="card-header">
            <h3><b style="color: #6200af;">Please Enter User Details !</b></h3>
          </div>
      <div class="card-body px-4 col-xl-12 col-12">
        <div id="act_frm">
          <div class="row mb-3">
            <div class="col">
            <label class="form-label">Client ID</label>
            <input type="text" class="form-control" placeholder="Enter Client ID" name="clientID"
              id="clientID" autocomplete="off" required>
          </div>  
              <div class="col">
                <label class="form-label">User ID</label>
                <input type="text" class="form-control" placeholder="Enter User ID" name="userID"
                  id="userID" autocomplete="off" required>
              </div>  
          </div>
          <div class="row mb-3">
            <div class="col">
            <label class="form-label">UserType ID</label>
            <input type="text" class="form-control" placeholder="Enter UserType ID" name="usertyepID"
              id="usertyepID" autocomplete="off" required>
          </div>  
              <div class="col">
                <label class="form-label">Username</label>
                <input type="text" class="form-control" placeholder="Enter Username" name="userName"
                  id="userName" autocomplete="off" required>
              </div>  
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Password</label>
              <input type="text" class="form-control" placeholder="Enter Password" name="password" id="password"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Position Code</label>
              <input type="text" class="form-control" placeholder="Enter Position Code" name="positioncode" id="positioncode"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Position Type</label>
              <input type="text" class="form-control" placeholder="Enter position type" name="positiontype" id="positiontype"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">First Name</label>
              <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" id="firstName"
                autocomplete="off" required>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Last Name</label>
              <input type="text" class="form-control" placeholder="Enter Last Name" name="lastname" id="lastname"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Gender</label>
              <input type="text" class="form-control" placeholder="Enter Gender" name="gender" id="gender"
                autocomplete="off" required>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col">
              <label class="form-label">DOB</label>
              <input type="date" class="form-control" name="dob" id="dob"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Age</label>
              <input type="text" class="form-control" placeholder="Enter Age" name="age" id="age"
                autocomplete="off" required>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Blood Group</label>
              <input type="text" class="form-control" name="bloodgroup" id="bloodgroup"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Email</label>
              <input type="text" class="form-control" placeholder="Enter Email" name="email" id="email"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Branch</label>
              <input type="text" class="form-control" name="branch" id="branch"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Phone 1</label>
              <input type="text" class="form-control" placeholder="Enter Phone No" name="phone1" id="phone1"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Phone 2</label>
              <input type="text" class="form-control" name="phone2" id="phone2"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">TLCode</label>
              <input type="text" class="form-control" placeholder="Enter TL Code" name="tlcode" id="tlcode"
                autocomplete="off" required>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col">
              <label class="form-label">TL Name</label>
              <input type="text" class="form-control" name="tlname" id="tlname"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">FM Code</label>
              <input type="text" class="form-control" placeholder="Enter FM Code" name="fmcode" id="fmcode"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">FM Name</label>
              <input type="text" class="form-control" name="fmname" id="fmname"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Brand</label>
              <input type="text" class="form-control" placeholder="Enter Brand" name="brand" id="brand"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Status</label>
              <select class="form-select mb-3" name="deleted" id="deleted" required>
                <option value="">Select Status</option>
                <option value="0">Active</option>
                <option value="1">In-Active</option>
              </select>
            </div>
            <div class="col">
              <label class="form-label">Position</label>
              <input type="text" class="form-control" placeholder="Enter Position" name="position" id="position"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">City</label>
              <input type="text" class="form-control" placeholder="Enter City" name="city" id="city"
                autocomplete="off" required>
            </div>

            <div class="col">
              <label class="form-label">Deactivation Date</label>
              <input type="date" class="form-control" name="deactivationdate" id="deactivationdate"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">DOJ</label>
              <input type="date" class="form-control" name="doj" id="doj"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Employee Code</label>
              <input type="text" class="form-control" placeholder="Enter Employee Code" name="emp_code" id="emp_code"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">DOR</label>
              <input type="date" class="form-control" name="dor" id="dor"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Fm Employee Code</label>
              <input type="text" class="form-control" placeholder="Enter FM Employee Code" name="fmempcode" id="fmempcode"
                autocomplete="off" required>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">LWD</label>
              <input type="date" class="form-control" name="lwd" id="lwd"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">State</label>
              <input type="text" class="form-control" placeholder="Enter State" name="state" id="state"
                autocomplete="off" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Zone</label>
              <input type="text" class="form-control" placeholder="Enter Zone" name="zone" id="zone"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Position ID</label>
              <input type="text" class="form-control" placeholder="Enter Position ID" name="positionID" id="positionID"
                autocomplete="off" required>
            </div>
          </div>
          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Employee ID</label>
              <input type="text" class="form-control" placeholder="Enter Employee ID" name="empID" id="empID"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Channel Type</label>
              <input type="text" class="form-control" placeholder="Enter Channel Type" name="channeltype" id="channeltype"
                autocomplete="off" required>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Payroll</label>
              <input type="text" class="form-control" placeholder="Enter Payroll" name="payroll" id="payroll"
                autocomplete="off" required>
            </div>
            <input type="hidden" id="s_id" name="s_id">
          </div>

          <div class="row mb-3">
            <div class="col">
              <button class="btn btn-primary" onclick="updateuserdetails()">Update User Details</button>
              <button class="btn btn-danger" onclick="back()">Back</button>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col">
              <label class="form-label">Level 2</label>
              <input type="text" class="form-control" placeholder="Enter Level 2 Position Code" name="level_2" id="level_2"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">level 3</label>
              <input type="text" class="form-control" placeholder="Enter Level 3 Position Code" name="level_3" id="level_3"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">Level 4</label>
              <input type="text" class="form-control" placeholder="Enter Level 4 Position Code" name="level_4" id="level_4"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">level 5</label>
              <input type="text" class="form-control" placeholder="Enter Level 5 Position Code" name="level_5" id="level_5"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">level 6</label>
              <input type="text" class="form-control" placeholder="Enter Level 6 Position Code" name="level_6" id="level_6"
                autocomplete="off" required>
            </div>
            <div class="col">
              <label class="form-label">level 7</label>
              <input type="text" class="form-control" placeholder="Enter Level 7" name="level_7" id="level_7"
                autocomplete="off" required>
            </div>
            <!-- <div class="col">
              <label class="form-label">level 8</label>
              <input type="text" class="form-control" placeholder="Enter Level 8" name="channeltype" id="channeltype"
                autocomplete="off" required>
            </div> -->
          </div>
          <div class="row mb-3">
            <div class="col">
              <button class="btn btn-primary" onclick="updatehr()">Update Hierarchy</button>
              <button class="btn btn-danger" onclick="back()">Back</button>
            </div>
          </div>

        </div>


     
     </div>
 
      </div>
    </div>

  </div>

  
  <!-- <div class="row" id="user_bulk">
    <div class="col-12 col-md-12 col-xxl-6 d-flex order-3 order-xxl-2">
      <div class="card flex-fill w-100">
        <div class="card-body px-4 col-xl-12 col-12">
          <div class="card-body px-4">
            <div class="col-xl-12">
              <div class="row mb-3">
                <div class="col">
                  <input class="form-control" type="file" id="input" accept=".xls,.xlsx">
                </div>
            
              </div>
            </div>

            <div class="col-xl-12" style="margin-top: 20px;">
              <button class="btn btn-primary" id="load_excel">Load Excel</button>
              <button class="btn btn-success" id="save_data" disabled>Save Data</button>
              <button class="btn btn-danger" onclick="back()">Back</button>
              <button class="btn btn-warning" onclick="cleardata()">Clear</button>
            </div>
          </div>
          <div style="overflow-x:auto;">
            <table id="excel_data"></table>
          </div>
        </div>
      </div>
    </div>

  </div> -->

</div>

<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" /> 
<script src="../assets/js/select2.min.js"></script>
<script src="../static/js/user-master.js"></script>

  <!-- <script src="../assets/js/jquery.validate.js"></script>
  <script src="../assets/js/jquery.multi-select.js"></script> -->
  <!-- <script src="../assets/js/jquery-validate-min.js"></script> -->
 



<script>
  /*~~~~~~~~~~~~~~~~~Hide Show of levels~~~~~~~~~~~~~~~~~~~~*/

  $('#user_list').show();
  $('#user_form').hide();
  $('#user_bulk').hide();
  // levelChange = function (value) {
  //   debugger;
  //   var selectedLevel = value;

  //   if (selectedLevel == 'SALES REPRESENTATIVE') {
  //     debugger;
  //     $("#level2").show();
  //     $("#level3").show();
  //     $("#level4").show();
  //     $("#level5").show();
  //     $("#level6").show();

  //   } else if (selectedLevel == 'SALES OFFICER') {
  //     $("#level2").hide();
  //     $("#level3").show();
  //     $("#level4").show();
  //     $("#level5").show();
  //     $("#level6").show();

  //   } else if (selectedLevel == 'AREA SALES MANAGER') {
  //     debugger;
  //     $("#level2").hide();
  //     $("#level3").hide();
  //     $("#level4").show();
  //     $("#level5").show();
  //     $("#level6").show();

  //   } else if (selectedLevel == 'ZONAL SALES MANAGER') {
  //     $("#level2").hide();
  //     $("#level3").hide();
  //     $("#level4").hide();
  //     $("#level5").show();
  //     $("#level6").show();

  //   } else if (selectedLevel == 'REGIONAL SALES MANAGER') {
  //     $("#level2").hide();
  //     $("#level3").hide();
  //     $("#level4").hide();
  //     $("#level5").hide();
  //     $("#level6").show();
  //   }

  //   else {
  //     $("#level2").show();
  //     $("#level3").show();
  //     $("#level4").show();
  //     $("#level5").show();
  //     $("#level6").show();
  //   }


  // }

  // $(document).ready(function () { 
  //      $("#act_frm").validate({
  //          rules: {
  //             s_client: {
  //                  required: true,
  //              },
  //              s_emp_code: {
  //                  required: true,
  //              },
  //              s_username: {
  //                  required: true,
  //              },
  //              s_pass: {
  //                  required: true,
  //              },
  //              s_name: {
  //                  required: true,
  //              },
  //              s_position: {
  //                  required: true,
  //              },
  //              s_position_type: {
  //                  required: true,
  //              },
  //              s_position_code: {
  //                  required: true,
  //              },
  //              s_email: {
  //                  required: true,
  //              },
  //              n_contact_no: {
  //                  required: true,
  //              },
  //              s_region: {
  //                  required: true,
  //              },
  //              s_state: {
  //                  required: true,
  //              },
  //              s_city: {
  //                  required: true,
  //              },
  //              s_address: {
  //                  required: true,
  //              },
  //              d_doj: {
  //                  required: true,
  //              },
  //              s_payroll: {
  //                  required: true,
  //              },
  //              s_channel: {
  //                  required: true,
  //              },
               
  //              s_brand: {
  //                  required: true,
  //              },
  //              s_status: {
  //                  required: true,
  //              },

  //          },

  //          messages: {
  //             s_client: {
  //                  required: "This Field is Required",
  //              },
  //              s_emp_code: {
  //                  required: "This Field is Required",
  //              },
  //              s_username: {
  //                  required: "This Field is Required",
  //              },
  //              s_pass: {
  //                  required: "This Field is Required",
  //              },
  //              s_name: {
  //                  required: "This Field is Required",
  //              },
  //              s_position: {
  //                  required: true,
  //              },
  //              s_position_type: {
  //                  required: "This Field is Required",
  //              },
  //              s_position_code: {
  //                  required: "This Field is Required",
  //              },
  //              s_email: {
  //                  required: "This Field is Required",
  //              },
  //              n_contact_no: {
  //                  required: "This Field is Required",
  //              },
  //              s_region: {
  //                  required: "This Field is Required",
  //              },
  //              s_state: {
  //                  required: "This Field is Required",
  //              },
  //              s_city: {
  //                  required: "This Field is Required",
  //              },
  //              s_address: {
  //                  required: "This Field is Required",
  //              },
  //              d_doj: {
  //                  required: "This Field is Required",
  //              },
  //              s_payroll: {
  //                  required: "This Field is Required",
  //              },
  //              s_channel: {
  //                  required: "This Field is Required",
  //              },
  //              s_brand: {
  //                  required: "This Field is Required",
  //              },
  //              s_status: {
  //                  required: "This Field is Required",
  //              },
  //          },
  //      });
  //  });


</script>